body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header-title {
    position: fixed;
    left: 0;
}

.filter-buttons {
    display: flex;
    gap: 10px;
}

.filter-buttons button {
    background-color: transparent;
    padding: 5px 10px;
    border: none;
    color: #d3d3d3;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.filter-buttons .active {
    background-color: #007bff;
    color: white;
}

h1 {
    margin-left: 20px;
    font-size: 24px;
}

.date-filters {
    margin: 20px 0;
    text-align: center;
}

.date-filters label {
    margin-right: 5px;
}

.date-filters input {
    margin-right: 10px;
    padding: 5px;
}

#logs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 1200px;
}

.log-item {
    padding: 10px;
    width: 100%;
    max-width: 1200px;
    margin: 10px 0;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.log-item h3, .log-item p {
    margin: 0;
    margin-bottom: 10px;
}

.log-item h3 {
    color: white;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.log-item #message {
    color: #ffffff;
    margin: 5px 10px;
}

.log-meta {
    display: flex;
    gap: 10px;
    margin-left: 10px;
    margin-top: 10px;
    min-width: 60%;
    color: #ffffffb5;
}

.log-notice {
    background-color: #3f83cc;
}

.log-warn {
    background-color: #f4ad50;
}

.log-alert {
    background-color: #e05560;
}

